/*
 Responsive CSS goes here
*/

/*
h3:after {
  content:"Responsive CSS is currently loaded";
}
*/

@media only screen and (max-width: 799px) {
    .q {
        display: none;
    }
    #content {
            width: 100%;
    }

    h1 {
      color:yellow;
    }
    blockquote {
      margin-right: 0px;
      margin-left: 0px;
    }
}

@media only screen and (max-width: 549px) {
    .wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 459px) {
    .button {
        display: inline-block;
        margin: 0 0 0px;

    }
    .bottom-button {
      display: block;
      margin-bottom: 11px;
    }
    .download {
      margin: 30px 0;
    }
    h2.header-h2 { text-align: center;}
    .tagline-container {
    margin-bottom: 30px;
    }

}

@media only screen and (max-width: 479px) {
    body {
        font-size: 18px;
    }
    .wrap {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
    }
    #content {
        padding: 20px 0;
        width: 100%;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 18px;
        text-align: left;
    }
    p{
      text-align: left;
    }
    p,
    ul {
        font-size: 18px;
    }
}
