/*
 Responsive CSS goes here
*/
h1 {
  color:yellow;
}
/*
h3:after {
  content:"Responsive CSS is currently loaded";
}
*/

@media only screen and (max-width: 799px) {
    .q {
        display: none;
    }
    #content {
            width: 100%;
    }
}

@media only screen and (max-width: 549px) {
    .wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 459px) {
    .button {
        display: inline-block;
        margin: 0 0 0px;

    }
}

@media only screen and (max-width: 479px) {
    body {
        font-size: 18px;
    }
    .wrap {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
    }
    #content {
        padding: 20px 0;
        width: 100%;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 18px;
    }
    p,
    ul {
        font-size: 18px;
    }
}
